<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% include geotags.html %}
    {% include favicon.html %}
    {% include ogp.html %}
    {% include meta_twitter.html %}
    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ site.keywords }}, {{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <link rel="shortlink" href="{% if page.shortlink %}{{ page.shortlink }}{% else %}{{ site.shortlink }}{% endif %}">
    <link rel="search" type="application/opensearchdescription+xml" href="{{'/opensearch.xml'| prepend: site.url}}" title="Busca dentro de {{ page.title }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="alternate" type="application/json+oembed" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" href="{{ "/info.json" | relative_url }}">
    <link rel="alternate" type="text/xml+oembed" href="{{ "/info.json" | relative_url }}" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
{% if post.title %}
    <meta property="article:publisher" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="article:section" content="{{post.categories}}" />
    <meta property="article:published_time" content="{{post.date | date_to_xmlschema}}" />
{% endif %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ "/css/syntax.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">

    <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
{% if page.havecharts %} 
    <script src="https://d3js.org/d3.v3.min.js"></script>
    <script src="https://labratrevenge.com/d3-tip/javascripts/d3.tip.v0.6.3.js"></script>
{% endif %}
</head>
