    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image" content="{% if page.image %}{{ page.image }}{% else %}{{'/imagen/asosab.jpg'| prepend: site.url}}{% endif %}" />
    <meta name="twitter:image:alt" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />



