    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="{% if page.image %}{{ page.image }}{% else %}{{'/imagen/asosab.jpg'| prepend: site.url}}{% endif %}" />
    <meta property="og:image:type" content="image/jpeg" />
    <meta property="og:image:alt" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />