
    <meta name="title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <meta name="description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}">
    <meta name="keywords" content="{% if page.keywords %}{{ site.keywords }}, {{ page.keywords }}{% else %}{{ site.keywords }}{% endif %}">
    <link rel="shortlink" href="{% if page.shortlink %}{{ page.shortlink }}{% else %}{{ site.shortlink }}{% endif %}">
    <link href="//www.google-analytics.com" rel="dns-prefetch">
    <link rel="search" type="application/opensearchdescription+xml" href="{{'/opensearch.xml'| prepend: site.url}}" title="Busca dentro de {{ page.title }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
    <link rel="alternate" type="application/json+oembed" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" href="{{ "/info.json" | relative_url }}">
    <link rel="alternate" type="text/xml+oembed" href="{{ "/info.xml" | relative_url }}" title="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
    <link href="/sitemap.xml" rel="sitemap" title="Sitemap" type="application/xml">
{% if post.title %}
    <meta property="article:publisher" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="article:section" content="{{post.categories}}" />
    <meta property="article:published_time" content="{{post.date | date_to_xmlschema}}" />
{% endif %}
    <meta property="og:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:locale" content="{{ site.locale }}" />
    <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}" />
    <meta property="og:type" content="article" />
    <meta property="og:image" content="{% if page.image %}{{ page.image | prepend: site.imageFolder | prepend: site.url }}{% else %}{{'asosab.jpg' | prepend: site.imageFolder | prepend: site.url}}{% endif %}" />
    <meta property="og:image:type" content="image/png" />
    <meta property="og:image:alt" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta property="og:site_name" content="{{ site.title }}" />
    {% if site.author.facebook %}<meta property="article:author" content="https://www.facebook.com/{{site.author.facebook}}"/>{% endif %}
    <meta content="{{site.author.name}}" name="author">
    {% if site.author.googleplus %}<link href="https://plus.google.com/+{{site.author.googleplus}}" rel="author">{% endif %}

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@{{ site.author.twitter }}" />
    <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:description" content="{% if page.description %}{{ page.description }}{% else %}{{ site.description }}{% endif %}" />
    <meta name="twitter:image:src" content="{% if page.image %}{{ page.image | prepend: site.imageFolder | prepend: site.url }}{% else %}{{'asosab.jpg' | prepend: site.imageFolder | prepend: site.url}}{% endif %}" />
    <meta name="twitter:image:alt" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}" />
    <meta name="twitter:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <meta name="twitter:creator" content="@{{ site.author.twitter }}" />

    <meta name="geo.region" content="{{ site.author.region }}" />
    <meta name="geo.placename" content="{{ site.author.placename }}" />
    <meta name="geo.position" content="{{ site.author.ICBM }}" />
    <meta name="ICBM" content="{{ site.author.ICBM }}" />    
		{% for tag in page.tags %}
		<meta property="article:tag" content="{{ tag }}">{% endfor %}
    
